@model IEnumerable<Group17_MVC.ViewModel.ShopViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/DanhSachShop.cshtml";
}

<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Nhập tên
                    sản phẩm
                </h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <label>
                        <input type="search" class="form-control p-3"
                               placeholder="keywords"
                               aria-describedby="search-icon-1">
                    </label>
                    <span id="search-icon-1"
                          class="input-group-text p-3">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->
<!-- Single Page Header start -->
@section BreadCum{
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Cửa hàng</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Trang</a></li>
            <li class="breadcrumb-item active text-white">Cửa hàng</li>
        </ol>
    </div>
}

<!-- Single Page Header End -->

@Html.Action("ShopItem", "Shop", new { model = Model })



<div class="col-12">
    <div class="pagination d-flex justify-content-center mt-5">
        <a href="#"
           class="rounded">&laquo;</a>
        <a href="#"
           class="active rounded">1</a>
        <a href="#" class="rounded">2</a>
        <a href="#" class="rounded">3</a>
        <a href="#" class="rounded">4</a>
        <a href="#" class="rounded">5</a>
        <a href="#" class="rounded">6</a>
        <a href="#"
           class="rounded">&raquo;</a>
    </div>
</div>
  